.divmenudialog ul#dashboard {
    width: 517px;
}

.divmenudialog {
    line-height: 15px;
}

.divmenudialog ul#dashboard li p.menu, .divmenudialog ul#dashboard li.opt_low p.menu {
    font-size: 11px;
}
