<footer class="fw footer clearfix" id="contact">

    <hr class="mini-hr aligncenter">

    <section class="wrapper text-center small u-mt+ heading">

        <p>
            &copy; Michael Story 2016 // <a href="http://www.planktonwebdesign.com">Designed by me</a>
        </p>

        <!--<p>
             Bands I Love<br><br><a href="http://www.nzmsuicteachers.co.nz">NZ Music Teachers Online</a> // <a href="http://www.nzmsuicteachers.co.nz">NZ Music Teachers Online</a> // <a href="http://www.nzmsuicteachers.co.nz">NZ Music Teachers Online</a>
        </p>-->

        <p>
             Sites I wanna plug<br><br><a href="http://www.nzmusicteachers.co.nz">NZ Music Teachers Online</a> // <a href="http://www.melbourne-musicteachers.com">Melbourne Music Teachers Online</a>
        </p>

    </section><!-- End .wrapper -->

</footer>
