/**
* ### Links
* <span class="epsilon">ui/base/links.scss</span> <br>
* general text links. `.secret-link` inherits the color but hover effect is the same
*
*     @example
*     <a href="#">normal link </a> &nbsp;this is <a href="#" class="secret-link">secret hover me</a>
*
*/

a {
    text-decoration: none;
    color: $highlight;
    @include vendor(transition, 0.2s, all);

    @include attention() {
        text-decoration: none;
        color: $highlight--mute;
    }

}

.secret-link {
    color: inherit;

    @include attention() {
        color: $highlight--mute;
    }
}
