/**
* ### Links
* <span class="epsilon">ui/base/links.scss</span> <br>
* general text links. `.secret-link` inherits the color but hover effect is the same. Also image link effect on hover
*
*     @example
*     <a href="#">normal link </a> &nbsp;this is <a href="#" class="secret-link">secret hover me</a>
*     <p>hover over image below to get opacity effect</p>
*     <a href="#"><img src="http://placehold.it/300x300"></a>
*
*/

a {
    text-decoration: none;
    color: $highlight;
    @include vendor(transition, 0.2s color);

    @include attention() {
        text-decoration: none;
        color: $highlight--mute;
    }

}

a img {
    @include vendor(transition, 0.2s opacity);

    &:hover {
        opacity: 0.7;
    }
}

.secret-link {
    color: inherit;

    @include attention() {
        color: $highlight--mute;
    }
}
