<nav id="nav" role="navigation" class="nav">

    <ul id="left" class="u-ml0">

        <li class="home">
            <a href="/" ><i class="fa fa-home"></i><span class="screenreader">Home</span></a>
        </li>

        <li>
            <a href="#">Entertainment</a>
        </li>

        <li>
            <a href="#">Niews</a>
        </li>

        <li>
            <a href="#">Sport</a>
        </li>

        <li>
            <a href="#">Features</a>
        </li>

        <li>
            <a href="#">Archief</a>
        </li>

    </ul>

    <ul id="right" class="u-ml0">

        <li>
            <a href="#" ><i class="fa fa-globe u-mr--"></i>English <i class="fa fa-caret-down u-ml--"></i></a>
        </li>

        <li>
            <a href="#" >Pricing</a>
        </li>

        <li>
            <a href="#" >Contact</a>
        </li>

    </ul>

    <div class="controls">

        <a href="#" class="button button--secondary u-mr u-ml small-desk-mr0">Login</a>

        <a href="#" class="button  u-mr u-ml small-desk-ml-">Sign Up</a>



    </div>


</nav>
