<nav id="nav" role="navigation" class="nav">

    <ul id="left" class="u-ml0">

        <li>
            <a href="/michael-story-bio" {% if page.type == 'bio' %} class="highlight" {% endif %}>Bio</a>
        </li>

        <li>
            <a href="/music/all-music" {% if page.type == 'album' %} class="highlight" {% endif %}>Music</a>
        </li>

        <li>
            <a href="/blog/all-blog" {% if page.type == 'blog' %} class="highlight" {% endif %}>Blog</a>
        </li>

        <li>
            <a href="/videos/all-videos" {% if page.type == 'videos' %} class="highlight" {% endif %}>Videos</a>
        </li>

        <li>
            <a href="/larry-grenadier-thesis" {% if page.type == 'thesis' %} class="highlight" {% endif %}>Thesis</a>
        </li>

        <li>
            <a href="/contact" {% if page.title == 'Contact' %} class="highlight" {% endif %}>Contact</a>
        </li>

    </ul>

    <ul id="right" class="u-ml0">

        <li>
            <a href="#" ><i class="fa fa-globe u-mr--"></i>English <i class="fa fa-caret-down u-ml--"></i></a>
        </li>

        <li>
            <a href="#" >Pricing</a>
        </li>

        <li>
            <a href="#" >Contact</a>
        </li>

    </ul>

    <div class="controls">

        <a href="#" class="button  u-mr u-ml u-ml-small-desk">Sign Up</a>

        <a href="#" class="button button--secondary u-mr u-ml u-mr-small-desk">Login</a>

    </div>


</nav>
