<!--<nav id="nav" role="navigation" class="nav">

    <ul id="left" class="u-ml0">

        <li class="home">
            <a href="/" ><i class="fa fa-home"></i><span class="screenreader">Home</span></a>
        </li>

        <li>
            <a href="#">Entertainment</a>
        </li>

        <li>
            <a href="#">Niews</a>
        </li>

        <li>
            <a href="#">Sport</a>
        </li>

        <li>
            <a href="#">Features</a>
        </li>

        <li>
            <a href="#">Archief</a>
        </li>

    </ul>

    <ul id="right" class="u-ml0">

        <li>
            <a href="#" ><i class="fa fa-globe u-mr--"></i>English <i class="fa fa-caret-down u-ml--"></i></a>
        </li>

        <li>
            <a href="#" >Pricing</a>
        </li>

        <li>
            <a href="#" >Contact</a>
        </li>

    </ul>

    <div class="controls">

        <a href="#" class="button button--secondary u-mr u-ml small-desk-mr0">Login</a>

        <a href="#" class="button  u-mr u-ml small-desk-ml-">Sign Up</a>



    </div>


</nav>-->

<nav id="nav" role="navigation" class="nav logged-in">

    <ul id="left" class="u-ml0">

        <li class="home">
            <a href="/" ><i class="fa fa-home"></i><span class="screenreader">Home</span></a>
        </li>

        <li>
            <a href="#">Entertainment</a>
        </li>

        <li>
            <a href="#">Niews</a>
        </li>

        <li>
            <a href="#">Sport</a>
        </li>

        <li>
            <a href="#">Features</a>
        </li>

        <li>
            <a href="#">Archief</a>
        </li>

    </ul>

    <ul id="right" class="u-ml0">

        <li>
            <a href="#" ><i class="fa fa-globe u-mr--"></i>English <i class="fa fa-caret-down u-ml--"></i></a>
        </li>

        <li>
            <a href="#" >Pricing</a>
        </li>

        <li>
            <a href="#" >Contact</a>
        </li>

    </ul>

    <ul class="user-menu u-ml0">
                <!--<li class="bar plankton-loggedin-name"> wouter te witt</li>-->
			    		<li id="lmenu_5">
			<a id="menu_5" title="Mijn account" class="arrow" href="#">Mijn account</a>
			<span id="menunotificationcount"></span>
		</li>
		<li order="0" id="lmenu_8" class="lightboxall_1">
			<a id="menu_8" title="Lightbox" class="loggedin" href="#">Lightbox</a>
		</li>
		<li id="lmenu_6">
			<a id="menu_6" title="Order" class="loggedin" href="/cart">Order
			<span id="menucartcount" title="Order">2</span>
			</a>
		</li>

			    <li>
                    <a href="/logout">Logout</a>
                </li>






    <div id="menugallerieslist" class="dropdownmenu lmenu_4" style="display: none;">
	<ul class="counter0">
	<li class="c1">
		<a title="Entertainment" class="group" href="/gallery/0/1068/0/entertainment.html">
		   Entertainment
		</a>
	</li>
	<li class="c2">
		<a title="Features" class="group" href="/gallery/1060/1061/0/features.html">
		   Features
		</a>
	</li>

	</ul>
</div>
<div id="menuaccountlist" class="dropdownmenu lmenu_5" style="display: none;">
	<ul>
	<li><a class="loggedin" href="/orders/42B2D9E77C48407B93C410FA988396/10000777/90">Download orders</a></li>
	<li class="menuhide"><a href="/invoices/42B2D9E77C48407B93C410FA988396/10000777/0"></a></li>
	<li class="menushow"><a href="/reservations">Reservations</a></li>
	<li class="menushow"><a href="/confirmusage/waiting">Usage</a></li>
	<li><a href="#" id="menurefreshnotifications">Notificaties verversen</a></li>
	<li><a class="loggedin" href="/myaccount">Mijn account</a></li>
	<li><a href="/change-password">Wachtwoord wijzigen</a></li>
	<li><a href="/register">Registreren</a></li>
	<li class="menuseparator" style="display:block"></li>
	<li><a id="menuadmin" href="#">Administrator menu</a></li>
	<li><a id="admintools" href="#">Enable admin toolbar</a></li>
	</ul>
</div>

</ul>




</nav>
