@include bp(full-nav) {

   .nav {
        /* set these to override the mobile nav */
        right: auto !important;
        //margin-right:-550px;
        left: 0;
        bottom: auto;
        margin-bottom: 0 !important;
        top: 104px;
        position: absolute;
        width: 100%;
        @include vendor(transform, none !important);
        @include vendor(translate, none !important);
        padding: 0;
        background: $charcoal;
        text-align: left;
        overflow: visible;
        height: auto;
        z-index: 99;
        //padding-right: 136px;
        padding: 0;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            position: relative;
            width: auto;
            margin-right: $spacing-unit;
            @include vendor(transition, 0.3s);
            @include font-size(15px);



            &.active {
                a {color: $blue; background: transparent;}
            }

            a {
                border: none;
                padding: 0;

                @include attention {
                    color: $blue;
                    //border-bottom: solid 2px white; padding-bottom: 0.2em;
                    background: transparent;
                }
            }


        }

        #left {
            li {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }

        #right {
            position: absolute;
            top: -92px;
            right: 0;
        }

        .controls {
            position: absolute;
            top: -52px;
            right: 0;
        }

        .home {

            background: $blue;
            padding-left: $spacing-unit;
            padding-right: $spacing-unit;
            margin: 0;
            margin-right: $spacing-unit;

            a {
                color: white !important;
            }
        }
    }
}

@include bp(desk) {

   .nav {

        #right {
            position: absolute;
            top: -64px;
            right: 220px;
        }

        .controls {
            position: absolute;
            top: -69px;
            right: 0;
        }

        #left {
            li {
                margin-right: $spacing-unit*2;
            }
        }

        .home {            
            margin-right: $spacing-unit*2;
        }
    }
}
