/**
* ### Borders
* <span class="epsilon">ui/trumps/borders.scss</span> <br>
* faux borders to show background through (these are only added on bp(small-desk)
*
*     @example
*     <div style="background: red; float:left;"><div style="float: left;" class="faux-bl"><img src="http://placehold.it/100x100" /></div><div style="float: left;" class="faux-br"><img src="http://placehold.it/100x100" /></div> <div style="float: left;" class="faux-bt"><img src="http://placehold.it/100x100" /></div> <div style="float: left;" class="faux-bb"><img src="http://placehold.it/100x100" /></div></div>
*
*
*/

@include bp(small-desk) {


    .faux-bl {
        padding-left: 2px;
    }

    .faux-br {
        padding-right: 2px;
    }
    .faux-bt {
        padding-top: 2px;
    }
    .faux-bb {
        padding-bottom: 2px;
    }


}

/*
.border-me {
    position: relative;

    &:after {
        border-bottom: solid 1px $base-color;
        width: 75px;
        height: 1px;
        position: absolute;
        content: "";
        bottom: 0;
        right: 50%;
        margin-right: -30px;

    }

    @include bp(portable) {
        &:after {
            border-bottom: none;
            border-right: solid 1px $base-color;
            width: 1px;
            height: 80%;
            top: 0;
            right: -$spacing-unit/2;
            bottom: auto;
            margin-right: 0px;
        }
    }
}

@include bp(full-nav) {

    .u-bl {
        border-left: solid 1px $black;

    }

    .u-bb {
        border-bottom: solid 1px $black;

    }
}
*/
